body {
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 15px;
    border: 1px solid black;
}
th{
    font-family: 'Patua One', cursive;
    font-size:30px;
    font-weight:400;
    color:#fff;
    text-align:center;
    padding:20px;
    background-color: darkorange ;
    border-color: white;
}
td{
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: black;
    font-size:25px;
    padding:20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0;
    text-align: center;
}

.hover {
    background: red;
}
#cn{background-color: red}
#tb{background-color: blue}
.am{font-size: 10px}
.do{color: red}
.xanh{color: blue}